/* .promoVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
} */

html,body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.video-container {
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: 1fr 5fr 1fr;
  grid-gap: 10px;
  height: 100vh;
  background: transparent;
}

.classic {
  grid-row: 2;
  grid-column: 2;
  border: none;
}

.labels {
	text-align: center;
}

.container {
	text-align: center;
  background-image: url("/img/graphics/dialup-bkg.png");
	overflow-y: hidden;
	width: 100vw;
	height: 100vh;
}

.container h3 {
	text-align: center;
	text-transform: uppercase;
	color: black;
	font-family: 'ArialRoundedMTBold';
	font-size: 2.5em;
}

.playPauseButton {
	background: #F04673;
	color: white;
	padding: 5px 15px 5px 15px;
	border-radius: 5px;
	display: inline-block;
	font-family: 'ArialRoundedMTBold';
	font-size: 15px;
	cursor: pointer;
	text-align: center;
  margin-top: 20px;
  animation: btnGlow 12s ease infinite;
}

.playPauseButton:hover {
  opacity: 1;
}

@keyframes btnGlow {
  0% {
    opacity: .5;
  }

  50% {
    opacity: .9;
  }

  100% {
    opacity: .5;
  }
}

.classic {
  width: 100%;
  height: 100%;
}

.extras {
	width: 30vw;
	margin-left: 35vw;
	text-align: center;
	align-content: center;
	position: absolute;
	bottom: 50px;
	z-index: 12;
}

.link {
	display: block;
}


@media (max-device-width: 767px) {
    .extras {
    	bottom: 8vh;
    }

    .playPauseButton {
    	margin: 0 auto;
    }

    .video-container {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 5fr 1fr;
      background: white;
      margin-top: 0;
    }

    .classic {
      grid-row: 2;
      grid-column: 1;
    }



	video::-webkit-media-controls {
    	display:none !important;
	}

}

@media only screen 
  and (max-device-width: 767px)
  and (orientation: landscape) {
  	.container {
  		background-image: none;
  		background: #10c0ff;
  	}

  	.extras {
  		width: 50vw;
  		margin-left: 25vw;
  		bottom: 8vh;
  	}

    .video-container {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 5fr 1fr;
      background: white;
      margin-top: 0;
    }

  	.playPauseButton {
  		margin: 0 auto;
  	}
}
