.RSVPPage {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  color: white;

  .bkg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

@keyframes btnGlow {
  0% { opacity: .5; }
  50% { opacity: .9; }
  100% { opacity: .5; }
}

@media only screen and (max-width: 768px) {
  .video {
    height: 100%;
  }
}
