.youtubeVideo {
    width: 840px; /* you have to have a size or this method doesn't work */
    height: 472.5px; /* think about making these max-width instead - might give you some more responsiveness */

    position: absolute; /* positions out of the flow, but according to the nearest parent */
    top: 0; right: 0; /* confuse it i guess */
    bottom: 0; left: 0;
    margin: auto; /* make em equal */
}

.lmao {
	color: red;
}

.promoVideo {
	margin: 0 auto;
	height: 70vh;
	margin-top: 10vh;
}

.labels {
	text-align: center;
}

.container {
	background-color: #10c0ff;
	height: 100vh;
	width: 100vw;
	overflow-y: hidden;
}

body {
	overflow-y: hidden;
}

.container h3 {
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-family: 'ArialRoundedMTBold';
}