.container-fluid {
  height: 100%;
  width: 100vw;
  font-family: 'ArialRoundedMTBold';
}

.magList a {
  display: block;
  text-transform: uppercase;
  font-size: 2em;
  color: white;
  font-weight: bold;
}

.magList {
  height: 40vh;
  text-align: center;
}

.magList h3 {
  color: #dedede;
}
.current {
  font-size: 3em !important;
  margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .magList {
    margin-top: 20vh;
  }
}

@media screen and (min-width: 768px) {
  .magList {
    margin-top: 30vh;
  }
}