#body {
	background-color: #30C1F9;
	overflow: hidden;
}

#main {
	width: 100vw;
}

.ticker {
	background-color: #4A4A4A;
    width: 104vw;
    margin-left: -2vw;
    height: 13.5vh;
    margin-top: 40vh;
    overflow: hidden;
    
    color: white;
    margin-bottom: 5vh;
}

ul.ticker li {
	line-height: 6vh;
    display: inline-block;
    padding: 10px 20px;
    font-size: 70px;
}

#footer {
	color: white;
	font-family: "ArialRoundedMTBold";
	text-align: center;
	position: absolute;
	width: 8vw;
	top: 90vh;
	left: 45vw;
}


#submitBtn {
	height: 6vh;
	width: 25vw;
	margin-left: 35.5vw;
	font-size: 1.8em;
}