.chatWindow {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    min-width: 500px;
    width: 80%;
    height: 80%;
    min-height: 300px;
    position: absolute;
    border-radius: 5px;
    top: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: white;
    transform: translateY(-53%);
    box-shadow: 2px 7px 10px rgba(0,0,0,0.5);
}

.footerText {
    color: white;
    font-size: 20px;
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

.alignerItem {
    margin: 0 auto;
}