.PressPage {
  height: 100%;
  min-height: 100vh;
  padding-bottom: 25vh;
  background-color: #44BBEC;
  font-family: 'ArialRoundedMTBold';
  text-align: center;
  font-weight: bold;
  position: relative;
  color: white;
}

.pressTitle {
  position: relative;
  border-bottom: 3px solid #F2F2F2;
  color: #F2F2F2;
  margin-bottom: 10px;
  font-size: 2.3em;
  width: 100%;
  padding-bottom: 5px;
  margin: 0 auto;
}

iframe {
  margin: 0 auto;
  margin-bottom: 30px;
}

.publication {
  position: relative;
  font-size: 2em;
  text-decoration: none;
  margin: 20px 0px;
  display: block;
  color: white;
}

.publication:hover {
  color: white;
  text-decoration: underline;
}


.headerTitle {
  text-align: center;
  margin-bottom: 30px;
  font-size: 4em
}

.header {
  padding-top: 15px;
}

.linkSection {
  margin-top: 25px;
}
