.linkItem {
	display: inline-block;
	margin: 10px 5px 0px 5px;
	font-family: 'ArialRoundedMTBold';
	font-weight: bold;
}

.linkItem a {
	display: inline-block;
}

@media (max-device-width: 767px) {
	.linkItem {
		display: block;
	}
}