.linkItem {
	display: inline-block;
	margin: 15px 25px;
	font-family: 'ArialRoundedMTBold';
	font-weight: bold;
}

.linkItem a {
	display: inline-block;
}

@media (max-device-width: 767px) {
	.linkItem {
		display: block;
	}
}
