.linkItem {
	display: inline-block;
	margin: 10px 8px 0px 8px;
	font-family: 'ArialRoundedMTBold';
	font-weight: bold;
}

.linkItem a {
	display: inline-block;
}

.linkSection {
	width: 50%;
	margin: 0 auto;
}

.contactBtn {
    background: transparent;
    border: none;
    outline: none;
    display: inline-block;
}

.contactBtn:hover {
    text-decoration: underline;
}

.contactBtn:active, .contactBtn:focus {
    outline: none;
}

@media (max-device-width: 767px) {
	.linkItem {
		display: block;
	}
}
