.verticalCenter {
	position: relative;
	margin: auto;
	margin-bottom: 0px;
	padding-top: 50%;
	width: 80%;
    top: 50%;
	text-align: center;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

#mainName {
	width: 100%;
}

@media (max-device-width: 767px) {
    .verticalCenter {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
    }
}