.container {
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

.joyride-img {
  position: relative;
  top: 25%;
  width: 50%;
  margin: 0 auto;
  display: block;
}

.playPauseButton {
  background: #F04673;
  color: white;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  display: inline-block;
  font-family: 'ArialRoundedMTBold';
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}

.extras {
  width: 30vw;
  margin-left: 35vw;
  text-align: center;
  align-content: center;
  position: absolute;
  bottom: 50px;
  z-index: 12;
  font-family: 
}