@font-face {
  font-family: 'KOFTH2';
  src: url('../fonts/KingOfTheHill2.eot'); /* IE9 Compat Modes */
  src: url('../fonts/KingOfTheHill2.eot?#iefix') format('embedded-opentype'),
       url('../fonts/KingOfTheHill2.woff2') format('woff2'),
       url('../fonts/KingOfTheHill2.woff') format('woff'),
       url('../fonts/KingOfTheHill2.ttf')  format('truetype'),
       url('../fonts/KingOfTheHill2.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Crimes Times Six';
  src: url('../fonts/CrimesTimesSix.ttf') format('truetype');
}

@font-face {
  font-family: 'Timoteo';
  src: url('../fonts/Timoteo.ttf') format('truetype');
}

h1 {
  font-family: 'Crimes Times Six';
  font-size: 5.5vw;
  color: red;
}

p {
  font-family: 'Timoteo';
  color: white;
}

html, body {
    height: 100%;
    margin: 0;
  }

.wrapper {
  background-color: black;
  min-height: 100%;
  text-align: center;
  margin: auto;

}

.emphasis p {
  color: red;
}

.title {
  padding: 3%;
}

.salutation {
  padding-top: 1%;
  padding-bottom: 3%;
}
