@font-face {
	font-family: 'KOFTH2';
	src: url('../dialupfonts/KingOfTheHill2.eot'); /* IE9 Compat Modes */
	src: url('../dialupfonts/KingOfTheHill2.eot?#iefix') format('embedded-opentype'),
	url('../dialupfonts/KingOfTheHill2.woff2') format('woff2'),
	url('../dialupfonts/KingOfTheHill2.woff') format('woff'),
	url('../dialupfonts/KingOfTheHill2.ttf')  format('truetype'),
	url('../dialupfonts/KingOfTheHill2.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'ArialRoundedMTBold';
	src: url('../dialupfonts/ArialRoundedMTBold.eot'); /* IE9 Compat Modes */
	src: url('../dialupfonts/ArialRoundedMTBold.eot?#iefix') format('embedded-opentype'),
	url('../dialupfonts/ArialRoundedMTBold.woff2') format('woff2'),
	url('../dialupfonts/ArialRoundedMTBold.woff') format('woff'),
	url('../dialupfonts/ArialRoundedMTBold.ttf')  format('truetype'),
	url('../dialupfonts/ArialRoundedMTBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'KOFTH2';
}

li {
  display: inline;
  padding: 25px;
}

.navbar {
  margin: auto;
    width: 60%;
    padding: 10px;
}


div.a img{

  z-index: 998;
}

#d { position: absolute;
     /*left: 100px;
     top: 100px;
     width: 100px;
     height: 100px;
     background-color: #fce;   */
}


html, body {
	height: 100%;
	margin: 0;
	background: #000000;
}

#wrapper {
	/*width: 100%;
	margin: auto*/
	min-height: 100%;
	background: rgba(255, 255, 255, 0.1);
}

.jumbotron {
	display: inline-block;
	margin-left: 5%;
	z-index: 999;
}


.jumbotron h1 {
	font-family: 'KOFTH2';
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 100px;
	margin-top: 0px;
}

#menu {
	text-decoration: none;
}
.nav {
	height: 40px;
	/*background-color: #F6B50F;*/
	font-family: 'KOFTH2';
	font-weight: 700;
	font-size: 18px;
}

.nav ul {
	width:100%;
	height: 100%;
	margin:0 auto;
	padding:0;
	list-style:none;
	/*background-color: #F6B50F;*/
	text-align:center;
	display: flex;
}
.nav li {
	width:25%;
	height: 100%;
	margin:0;
	padding:0;
}

.nav a {
	text-align:center;
	display: block;
	vertical-align: middle;
	text-decoration: none;
	/*padding:12px 0 13px 0;*/
	margin:auto, 0;
	/*border-left: 1px solid #fff;
	border-right: 1px solid #fff;*/
}
.nav a:hover {
	text-decoration: none;
	color: white;
}

.nav li:hover {
	/*background:#D84F25;*/
	border:none;
}

#nav-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#preview-coverflow {
	padding-top: 15%;
}

#preview-coverflow .cover {
	cursor:		pointer;
	box-shadow:	0 0 6em 0em white;
	margin: 0;
}

.options {
	margin: 0 auto;
	padding-top: 20%;
	width: 70%;
	text-align: center;
	font-family: 'ArialRoundedMTBold';
	color: white;
} 

#fall {
	font-size: 70px;
	text-decoration: none;
}

#fall:hover {
	text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
}


/* visited link */
a:visited {
    color: white;
}

#summer {
	text-decoration: underline;
}

#summer:hover {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
