section img {
	width: 50%;
	height: 90%;
}



@media screen and (max-width: 760px) {
	html {
		background-color: black;
	}
	img {
		width: 100%;
	}
}

@font-face {
  font-family: 'KOFTH2';
  src: url('../fonts/KingOfTheHill2.eot'); /* IE9 Compat Modes */
  src: url('../fonts/KingOfTheHill2.eot?#iefix') format('embedded-opentype'),
       url('../fonts/KingOfTheHill2.woff2') format('woff2'),
       url('../fonts/KingOfTheHill2.woff') format('woff'),
       url('../fonts/KingOfTheHill2.ttf')  format('truetype'),
       url('../fonts/KingOfTheHill2.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html, body {
		height: 100%;
		margin: 0;
	}

#wrapper {
		/*width: 100%;
		margin: auto*/
		min-height: 100%;
}

.jumbotron {
	display: inline-block;
	margin-left: 5%;

}

.jumbotron h1 {
	font-family: 'KOFTH2';
	color: white;
	font-weight: 600;

}
