@font-face {
  font-family: 'KOFTH2';
  src: url('../dialupfonts/KingOfTheHill2.eot'); /* IE9 Compat Modes */
  src: url('../dialupfonts/KingOfTheHill2.eot?#iefix') format('embedded-opentype'),
       url('../dialupfonts/KingOfTheHill2.woff2') format('woff2'),
       url('../dialupfonts/KingOfTheHill2.woff') format('woff'),
       url('../dialupfonts/KingOfTheHill2.ttf')  format('truetype'),
       url('../dialupfonts/KingOfTheHill2.svg#svgFontName') format('svg'); /* Legacy iOS */
}

video#bgvid {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url(Cloudytime.png) no-repeat;
	background-size: cover;
}

.mask {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	opacity: 0.5;
	z-index: 0;
	background: #28e8ec;
}

#pageHeader {
	font-family: 'KOFTH2';
	font-size: 200px;
	/*padding-top: 20%;*/
	margin: 0;
	color:white;
	opacity: 1.0;
	width: auto;
	height: auto;
	z-index: 100;
}

#sideFace {
	padding-top: 5%;
	float: left;
	position: absolute;
	height: 90%;
}

#vault {
	width: 80%;
}

#soon {
	padding-left: 30%;
}

#games {
	padding-top: 10%;
}