.twitchpage {
  display: grid;
  grid-template-columns: calc(1fr + 100px) auto 1fr;
  grid-template-rows: 150px auto 1fr;
  grid-column-gap: 20px;
}

.twitch-embed {
  grid-column: 2;
  grid-row: 2;
  margin-left: 100px;
}
.alignerItem {
  margin: 0 auto;
}

.footerText {
    color: white;
    font-size: 20px;
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

.header{
	font-family: 'ArialRoundedMTBold';
	font-size: 25px;
  text-align: center;
	color: white;
  position: relative;
  top: 40px;
}

.header:hover{
  color:#333;
}
