.playPauseButton {
	background: #F04673;
	color: white;
	padding: 5px 15px 5px 15px;
	border-radius: 5px;
	display: inline-block;
	bottom: 10px;
    left: 50%;
	font-family: 'ArialRoundedMTBold';
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	margin-left: 20vw;
    margin-top: 10vh;
    width: 60vw;
}
