.playPauseButton {
	background: #F04673;
	color: white;
	border-radius: 5px;
	display: inline-block;
	padding: 5px 15px 5px 15px;
	position: fixed;
	bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'ArialRoundedMTBold';
	font-size: 15px;
	cursor: pointer;
}