@font-face {
  font-family: 'ArialRoundedMTBold';
  src: url("../fonts/ArialRoundedMTBold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/ArialRoundedMTBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialRoundedMTBold.woff2") format("woff2"), url("../fonts/ArialRoundedMTBold.woff") format("woff"), url("../fonts/ArialRoundedMTBold.ttf") format("truetype"), url("../fonts/ArialRoundedMTBold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'EuroStile';
  src: url("../fonts/EuroStile.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/EuroStile.eot?#iefix") format("embedded-opentype"), url("../fonts/EuroStile.woff2") format("woff2"), url("../fonts/EuroStile.woff") format("woff"), url("../fonts/EuroStile.ttf") format("truetype"), url("../fonts/EuroStile.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'ArialRoundedMTLight';
  src: url("../fonts/ArialRoundedMTLight.otf"); }

body {
  overflow-y: scroll !important;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

:root {
  --active-button-color: #e2065b;
  --inactive-button-color: #af9d90;
  --primary-border: 2px solid $black;
  --primary-border-radius: 10px;
  --inactive-button-color: #af9d90; }
