.messageBubble {
	display: inline-block;
	border-radius: 5px;
	background-color: #50E3C2;
	color: white;
	min-height: 60px;
	max-width: 400px;
	margin: 20px 0px 0px 10px;
	padding: 5px 10px 5px 10px;
}

.time {
	color: #9B9B9B;
	margin: 0px 10px;
	vertical-align: middle;
	display: inline-block;
}

.username, .message {
	display: inline-block;
	clear:both;
}