@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .chatWindow {
        display: none;
    }
}

@media only screen and (min-device-width : 480px) {
    img {
        display: none;
    }
}

.chatWindow {
    width: 800px;
    height: 620px;
    position: absolute;
    border-radius: 5px;
    top: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: white;
    transform: translateY(-53%);
    box-shadow: 2px 7px 10px rgba(0,0,0,0.5);
}

img {
    width: 200px;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-top: 10vh;
}